.f6 {
    font-size: 12px!important;
	margin-top: 20px !important;
}
.d-inline-block {
    display: inline-block!important;
}
.Counter {
    background-color: rgba(27,31,35,.08);
    border-radius: 20px;
    color: #586069;
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    line-height: 1;
    padding: 2px 5px;
}
.size-col{
    font-size: 7px;
    float: right;
    color: #b3a9a9;
}
.mr-3 {
    margin-right: 16px!important;
}
.repo-language-color {
    border-radius: 50%;
    display: inline-block;
    height: 12px;
    position: relative;
    top: 1px;
    width: 12px;
}
.text-gray {
    color: #586069!important;
	position: absolute;
    bottom: 15px;
}
.sectionnew{
	width:50%;
	margin-top:5px;
}
.button{
    width: 50%;
  
}
.repo-link {
	color: #0366d6;
	 font-weight: 600!important;
}

a {
	color: #202223;
}
a.active {
    border-bottom: 3px solid red !important;
	color: #202223;
	font-weight: bold;
}
.nav-link.active {
	border: none;
}
.nav-tabs .nav-link:hover {
	border: none;
}
.maintain-top{
	margin-top:20px;
}
[class^="icon"] {
    width: 15px;
    height: 15px;
    position: relative;
    /* top: 15px; */
    margin-right: 10px;
    fill: #fff;
}


/* Reposition the music note icon */
.icon-music {
  right: 2px;
}
.link-col{
color:blue;
}
a.active {
  border-bottom: 3px solid red;
}
.hr-line{
	margin-top: 35px;
    border-bottom: 1px solid #dee2e6;
}
.flot{
float:right;
}

.border {
    display: inline-block;
    width: 100%;
    height: 100px;
    margin: 6px;
	padding: 10px;
}
.border-img{
	 border: 1px solid gray;
}





.input-header {
    background: none;
    border: 0;
    box-shadow: none;
    color: inherit;
    display: table-cell;
    font-size: inherit;
    padding-bottom: 0;
    padding-top: 0;
    width: 50%;
}
.navbar-dark .navbar-nav .nav-link  {
    color: #fff;
    font-weight: 600;
    white-space: nowrap;
}

.profile-img {
    overflow: hidden;
    max-width: 17rem;
}
.below-img {
    height:50px;
    border: 1px solid #e1e4e8!important;
    padding: 0.8rem;
}

.user-name {
    color: #666;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
}

.btn-edit {
    background-color: #eff3f6;
    background-image: linear-gradient(-180deg,#fafbfc,#eff3f6 90%);
    color: #24292e;
    border: 1px solid rgba(27,31,35,.2);
    border-radius: .25em;
}

.list-data {
    list-style: none;
}

.fa-bars {
    display: none;
}

.rounded {
    border-radius: 0.25rem 0.25rem 0 0 !important;
}


@media only screen and (min-width: 800px) {
  
    .margin-minus {
        margin-left: -3%;"
    }
}

@media only screen and (max-width: 800px) {
  
    .brand-logo {
        position: absolute;
        top: 0rem;
        left: 45%;
    }
}

    